{% extends "base.html" %}

{% block content %}

<h2>📦 Inventario de Productos</h2>

<div class="form-busqueda">
    <form method="GET">
        <input type="text" name="buscar" placeholder="🔍 Buscar producto">
        <button type="submit">Buscar</button>
    </form>
</div>

<br>

<a href="/agregar_producto">
    <button>➕ Agregar Producto</button>
</a>

<br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>

    {% for producto in productos %}
    <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>$ {{ producto.precio }}</td>

        <td>
            <a href="/editar_producto/{{ producto.id }}">
                <button>✏️ Editar</button>
            </a>

            <a href="/eliminar_producto/{{ producto.id }}">
                <button style="background:red;">🗑️ Eliminar</button>
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}