* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f4f8;
  padding: 30px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: rgb(218, 149, 252);
  padding: 20px;
  border-radius: 12px;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eef2ff;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #39ac84;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #8adc4b;
}
