body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(59, 143, 115);
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: aliceblue;
}

h2{
    color: #e3970a;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

h3{
    color: hsl(288, 74%, 53%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav{
    background-color: rgb(224, 227, 37);
    overflow: hidden;
    color: beige;
}

h1 {
    color: rgb(59, 143, 115);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}


nav {
    background-color: rgb(224, 227, 37);
    padding: 10px;
    text-align: center;
}


.btn-primary {
    background-color: #44ff33;
    border-radius: 10px;              
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3); 
    transition: 0.3s;                 
}


.btn-primary:hover {
    transform: scale(1.1);            
}


img {
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}


@media (max-width: 600px) {
    body {
        background-color: lightgray;
    }

    h1 {
        font-size: 20px;
    }
}

